---
http_interactions:
- request:
    method: get
    uri: https://go.daisybill.com/api/v1/billing_providers/25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer i543s6ibSs28GGVAPHXqpaZp51MGQGtzBgfi
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '95'
      X-Rate-Limit-Reset:
      - 2026-03-23 17:06:00 UTC
      Content-Type:
      - application/json
      X-Miniprofiler-Original-Cache-Control:
      - max-age=0, private, must-revalidate
      X-Miniprofiler-Ids:
      - omevm373texp0sbh08fg,rqj5adfrcvyfduhhdibw,bjq4v7qz2lcb894v0dq8,qf61lltgcgzevkmd8ne6,stig1gxpbew5v1oyl84s,2nb04z6n9uttv4nk8mb2,nsiqbk15ek43irduo8wd,pujcm3ljyx2gubs9xb6k,mcsbpol6lh5tmq0e86lj,a37lircxappzc6maal8f,cn0scg0znysbhemzaph9,90beltf9y9omzmedqvoc,8d36fslqw93mgak2y9q7,rece34vtticvhtl6rrax,l5xvlzuutg42m905pqwh,ydiibtaa522egr93zhof,hptaka318qybhglj02jr,c1yf67a7afyiugbsh3gc,btt0tpc62h3kzw8ubkfr,ewkyvh77mnj1slqnpixl
    body:
      encoding: UTF-8
      string: '{"created_at":"2026-03-19T21:33:16.516-07:00","updated_at":"2026-03-09T00:00:00.024-07:00","id":1,"fein":"180179511","npi":"1159710810","telephone":"11597108108121115","fax_number":"1234567890","bill_type":"professional","physical_address":{"created_at":"2026-03-19T21:33:16.502-07:00","updated_at":"2026-03-19T21:33:16.535-07:00","id":202,"address_1":"1931
        Howard Street","address_2":"Suite 21","city":"San Francisco","state":"CA","zip_code":"900018101"},"pay_to_address":{"created_at":"2026-03-19T21:33:16.510-07:00","updated_at":"2026-03-19T21:33:16.529-07:00","id":203,"address_1":"1931
        Howard Street","address_2":"Suite 21","city":"San Francisco","state":"CA","zip_code":"900018101"},"name":"Sallies
        Pediatrics and Crab Shack"}'
  recorded_at: Mon, 23 Mar 2026 17:05:05 GMT
recorded_with: VCR 6.4.0
